*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

.card{
background:rgba(255,255,255,0.08);
padding:40px;
border-radius:20px;
text-align:center;
width:360px;
backdrop-filter:blur(10px);
box-shadow:0 15px 40px rgba(0,0,0,0.5);
}

h1{
color:#ffd166;
margin-bottom:10px;
}

.kata{
font-size:14px;
margin-bottom:20px;
opacity:0.9;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:8px;
}

.envelope{
font-size:70px;
margin-top:15px;
cursor:pointer;
transition:0.3s;
}

.envelope:hover{
transform:scale(1.2);
}

#hasil{
margin-top:20px;
font-weight:bold;
color:#90ee90;
}

.money{
position:absolute;
font-size:30px;
animation:jatuh 3s linear forwards;
}

@keyframes jatuh{
0%{
transform:translateY(-50px);
opacity:1;
}

100%{
transform:translateY(110vh);
opacity:0;
}
}